:root {
	--font-size-base: 1rem;

	--color-background: #F9F9F9;
	--color-foreground: #ffffff;

	--color-primary: #E0193D;
	--color-secondary: #8A12D4;
	--color-tertiary: #6B6B6B;

	--border-radius: 12px;

	--spacing-x-small: 0.5rem;
	--spacing-small: 1rem;
	--spacing-medium: 1.5rem;
	--spacing-large: 2rem;
	--spacing-larger: 3rem;
	--spacing-largest: 4rem;
}

@media (max-width: 1024px) {
	:root {
		--font-size-base: 0.95rem;
	}
}

@media (max-width: 916px) {
	:root {
		--font-size-base: 0.9rem;
	}
}

@media (max-width: 768px) {
	:root {
		--font-size-base: 0.8rem;
	}
}