nav {
	width: 100%;
	height: 8vh;
	padding: var(--spacing-small) var(--spacing-large);
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-primary);
	color: var(--color-foreground);
}

.logo-container {
	flex-basis: 20%;
	align-items: center;
	gap: 0.5rem;
}

.logo-container img {
	height: 2rem;
}

.menu {
	flex-basis: 60%;
	justify-content: space-between;
}

.page-links-container {
	flex-basis: 70%;
	align-items: center;
	justify-content: space-between;
}

.mypage-link-container {
	flex-basis: 20%;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

.mypage-link-container img {
	height: 2rem;
}

.page-link a,
.mypage-link a {
	color: var(--color-foreground);
}

.page-link:hover,
.mypage-link:hover {
	cursor: pointer;
	border-bottom: solid 2px var(--color-foreground);
}

.page-link--active {
	border-bottom: solid 2px var(--color-foreground);
}

.hamburger-icon-container {
	display: none;
}

.hamburger-icon {
	height: 3rem;
}

.opened-hamburger-menu {
	display: none;
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-primary);
	color: var(--color-foreground);
}

.close-icon-container {
	justify-content: end;
	width: 100%;
	margin-bottom: var(--spacing-large);
}

.close-icon {
	height: 3rem;
}

.opened-hamburger-menu--visible {
	display: block;
}

.nav--hidden {
	display: none;
}

@media (max-width: 1024px) {
	nav {
		height: 7vh;
	}

	.logo-container img {
		height: 1.7rem;
	}

	.mypage-link-container img {
		height: 1.7rem;
	}
}

@media (max-width: 768px) {
	#nav {
		height: 6vh;
	}

	.menu {
		display: none;
	}

	.hamburger-icon-container {
		display: block;
	}

	.opened-hamburger-menu {
		padding: var(--spacing-large)
	}

	.hamburger-menu,
	.page-links-container {
		gap: var(--spacing-small);
	}

	.mypage-link-container {
		justify-content: center;
	}
}

@media (max-width: 550px) {
	.hamburger-icon {
		height: 2.5rem;
	}
}