.hero-section {
	height: 40rem;
	background-image: url(../../assets/images/booking_hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.container,
.center-div {
	height: 100%;
}

.booking-form-container {
	width: 100%;
	height: 35rem;
	justify-content: space-between;
	padding: var(--spacing-large) var(--spacing-largest);
	background-color: #4141418d;
	color: var(--color-foreground);
}

.row-div {
	width: 100%;
	gap: var(--spacing-largest);
}

/* INPUT SECTION */
.input-section {
	align-items: flex-start;
	gap: var(--spacing-medium);
	flex-basis: 60%;
}

.country-city,
.departure-return,
.travelers,
.input-group,
.summary-details-container,
.search-container,
input {
	width: 100%;
}

.country-city,
.departure-return,
.travelers {
	gap: var(--spacing-medium);
}

.input-group {
	gap: var(--spacing-x-small);
}

.search-container--country {
	position: relative;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--color-foreground);
}

.dropdown-item {
	color: black;
    padding: var(--spacing-x-small);
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* SUMMARY SECTION */
.summary-section {
	gap: var(--spacing-medium);
	padding-left: var(--spacing-large);
	flex-basis: 30%;
	border-left: solid 1px var(--color-foreground);
}

.summary-details-container {
	gap: var(--spacing-small);
}

.details-group {
	justify-content: space-between;
}

.details-group--total {
	margin-top: var(--spacing-small);
}

.details-header,
.details-value {
	flex-basis: 50%;
}

.book-button {
	width: 16rem;
	background-color: var(--color-primary);
	color: var(--color-foreground);
}
.book-button:hover {
	background-color: #c61535;
}

@media (max-width: 700px) {
	.booking-form-container {
		overflow-x: hidden;
        overflow-y: auto;
		justify-content: flex-start;
		gap: var(--spacing-large);
	}

	.row-div {
		flex-direction: column;
		gap: var(--spacing-medium);
	}

	.input-section {
		width: 100%;
	}

	.summary-section {
		width: 100%;
		border-left: none;
		border-top: solid 1px var(--color-foreground);
		padding: 0;
		flex-basis: auto;
	}

	.summary-header {
		margin-top: var(--spacing-small);
	}

	.summary-details-container {
		width: 50%;
	}
}

@media (max-width: 400px) {
	.booking-form-container {
		padding: var(--spacing-large) var(--spacing-medium);;
	}

	.input-section {
		gap: var(--spacing-small);
	}

	.input-section input,
	.input-section select {
		padding: 0.3rem var(--spacing-x-small);;
	}

	.summary-details-container {
		width: 70%;
	}
	
	.book-button {
		width: 12rem;
		padding: 0.8rem var(--spacing-small);
	}
}

@media (max-width: 300px) {
	.booking-form-container {
		padding: var(--spacing-large) var(--spacing-small);;
	}

	.input-section {
		gap: var(--spacing-small);
	}

	.country-city, 
	.departure-return, 
	.travelers {
		flex-direction: column;
		gap: var(--spacing-small);
	}
}
