main {
	padding: var(--spacing-largest) 0;
}

.main-div {
	gap: var(--spacing-larger);
}

.sort-filter-section {
	width: 100%;
	gap: var(--spacing-larger);
}

.sort,
.filter {
	gap: var(--spacing-x-small);
}

.destinations-section {
	width: 100%;
}

.destinations-section .grid {
	width: 100%;
	gap: var(--spacing-larger);
	padding: var(--spacing-medium);
}

.grid-cell {
	padding: var(--spacing-larger);
}

@media (max-width: 1100px) {
	.destinations-section .grid {
		gap: var(--spacing-large);
	}
}

@media (max-width: 900px) {
	.card-image {
		height: 10rem;
	}

	.card-details-container {
		padding: var(--spacing-small);
	}
}

@media (max-width: 700px) {
	.destinations-section .grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.main-div {
		gap: var(--spacing-medium);
	}

	.destinations-section .grid {
		grid-template-columns: 1fr;
		padding: 0 var(--spacing-largest);
	}

	.sort-select,
	.filter-select {
		padding: 0 var(--spacing-x-small);
	}

	.sort-filter-section {
		flex-direction: column;
		align-items: flex-start;
		gap: var(--spacing-small);
	}
}

@media (max-width: 500px) {
	.destinations-section .grid {
		padding: 0 var(--spacing-large);
	}
}