.login-section {
	height: 40rem;
}

.container,
.center-div {
	height: 100%;
}

.center-div {
	padding: 0 var(--spacing-small);
}

.form-container--login {
	display: flex;
}

.form-container--signup {
	display: none;
}

.form-container {
	width: 100%;
	padding: var(--spacing-large) var(--spacing-largest);
	gap: var(--spacing-largest);
	box-shadow: 0px 0px 14px 0px rgb(135, 135, 135);
	background-color: var(--color-foreground);
	color: black;
}

.input-section {
	gap: var(--spacing-medium);
}

.input-group {
	gap: var(--spacing-x-small);
}

.email-input--login, 
.password-input--login,
.email-input--signup, 
.password-input--signup {
	width: 26rem;
}

.open-signup-button,
.open-login-button {
	padding: 0;
	background: none;
}

.open-signup-button:hover,
.open-login-button:hover {
	font-weight: 800;
	color: var(--color-secondary);
}

.login-signup-button {
	width: 16rem;
	background-color: var(--color-primary);
	color: var(--color-foreground);
}
.login-signup-button:hover {
	background-color: #c61535;
}

@media (max-width: 700px) {
	.email-input--login, 
	.password-input--login,
	.email-input--signup, 
	.password-input--signup {
		width: 20rem;
	}
}

@media (max-width: 400px) {
	.login-section {
		height: 35rem;
	}

	.form-container {
		gap: var(--spacing-large);
	}

	.email-input--login, 
	.password-input--login,
	.email-input--signup, 
	.password-input--signup {
		width: 15rem;
		padding: 0.3rem var(--spacing-x-small);
	}

	.login-signup-button {
		padding: 0.8rem var(--spacing-small);
		width: 12rem;
	}
}
