main {
	padding: var(--spacing-largest) 0;
}

.main-div {
	gap: var(--spacing-larger);
}

.header-section {
	width: 100%;
}

.header-section h2 {
	grid-column: 2;
	text-align: center;
}

.button-container {
	grid-column: 3;
	justify-content: flex-end;
}

.signout-button {
	background-color: var(--color-primary);
	color: var(--color-foreground);
}

.signout-button:hover {
	background-color: #c61535;
}

.my-bookings-section {
	width: 100%;
}

.my-bookings-section .grid {
	width: 100%;
	gap: var(--spacing-larger);
	padding: var(--spacing-medium);
}