main {
	padding: var(--spacing-largest) 0;
}

.main-div {
	gap: var(--spacing-larger);
}

.header-section {
	width: 100%;
}

.header-section h2 {
	grid-column: 2;
	text-align: center;
}

.button-container {
	grid-column: 3;
	justify-content: flex-end;
}

.signout-button {
	background-color: var(--color-primary);
	color: var(--color-foreground);
}

.signout-button:hover {
	background-color: #c61535;
}

.my-bookings-section {
	width: 100%;
}

.tickets-grid {
	width: 100%;
	gap: var(--spacing-larger);
	padding: var(--spacing-medium);
}

@media (max-width: 1024px) {
	.tickets-grid {
		gap: 20px;
	}
}

@media (max-width: 768px) {
	.main-div {
		gap: var(--spacing-medium);
	}
}

@media (max-width: 700px) {
	.tickets-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 550px) {
	.signout-button {
		padding: var(--spacing-x-small) var(--spacing-small);
	}
}

@media (max-width: 400px) {
	main {
		position: relative;
		
	}
	.button-container {
		position: absolute;
		right: 0;
		top: 10px;
	}

	.header-section h2 {
		grid-column: span 3; 
	}

	.tickets-grid {
		grid-template-columns: 1fr;
	}
}